.sidebar__header
  include ../icons/settingIcon.pug
  h2 Dashboard
  span v.01
nav.sidebar__menu
  ul
    li
      include ../icons/keyIcon.pug
      p Dashboard
    li
      include ../icons/3dSquare.pug
      p Product
      .shevron
        include ../icons/shevronRight.pug
    li.active
      include ../icons/userSquare.pug
      p Customers
      .shevron
        include ../icons/shevronRight.pug
    li
      include ../icons/walletIcon.pug
      p Income
      .shevron
        include ../icons/shevronRight.pug
    li
      include ../icons/discountShapeIcon.pug
      p Promote
      .shevron
        include ../icons/shevronRight.pug
    li
      include ../icons/messageQuestionIcon.pug
      p Help
      .shevron
        include ../icons/shevronRight.pug
.sidebar__footer
  img(src="../img/evano.png", alt="admin pic")
  .sidebar__footer__admininfo
    h3 Evano
    p Project Manager    
