/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 100%;
  height: fit-content;
  background-color: #FAFBFF;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-direction: reverse;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  gap: 71px;
}

.main-wrapper {
  width: 968px;
  padding: 41px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.greeting .greeting__text {
  font-weight: 500;
  color: #000;
  font-size: 24px;
  line-height: 36px;
}

.content {
  background-color: #FFF;
  border-radius: 24px;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

.content-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 30px 53px 0 38px;
}
.content-header .content-header-desc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 7px;
}
.content-header .content-header-desc .content-header-title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.22px;
}
.content-header .content-header-desc .content-header-subtitle {
  color: #16C098;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.14px;
}
.content-header .content-header-search {
  position: relative;
  height: fit-content;
  width: 216px;
}
.content-header .content-header-search .content-header-search__label {
  position: absolute;
  display: inline-flex;
  top: 9px;
  left: 8px;
}
.content-header .content-header-search .content-header-search__input {
  outline: none;
  border: none;
  height: 38px;
  width: 176px;
  border-radius: 10px;
  background-color: #F9FBFF;
  padding: 0 0 0 40px;
}
.content-header .content-header-search .content-header-search__input::placeholder {
  color: #B5B7C0;
  position: absolute;
  top: 14px;
  font-size: 12px;
  height: 18px;
  width: 42px;
  font-style: normal;
  letter-spacing: 0.7px;
  line-height: 18px;
  font-weight: 400;
}

.table-wrapper {
  margin: 40px 0 30px 0;
}

.table-header {
  position: relative;
  height: 35px;
}
.table-header::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #EEEEEE;
}
.table-header .table-header-row {
  padding: 0 67px 0 38px;
  color: #B5B7C0;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 152px 45px;
  font-size: 14px;
}
.table-header .table-header-row .table-header__column {
  text-align: start;
}

.table-body .table-body-row {
  padding: 0 44px 0 38px;
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 140px 80px;
  color: #292D32;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  list-style: 21px;
  position: relative;
  height: 69px;
}
.table-body .table-body-row::after {
  content: "";
  width: 888px;
  position: absolute;
  bottom: 0;
  left: 40px;
  border-top: 1px solid #EEEEEE;
}
.table-body .table-body-row .table-body__column {
  padding: 20px 0 20px 0;
  height: 29px;
  line-height: 29px;
}
.table-body .table-body-row .table-body__column_active {
  color: #008767;
  padding: 3px 12px;
  text-align: center;
  border-radius: 4px;
  line-height: normal;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
}
.table-body .table-body-row .table-body__column_inactive {
  border-radius: 4px;
  line-height: normal;
  padding: 3px 12px;
  color: #DF0404;
  border: 1px solid #DF0404;
  background-color: #FFC5C5;
}

.content-footer {
  padding: 0 44px 40px 38px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.content-footer .content-footer__amount {
  padding: 2px 0 0 0;
  color: #B5B7C0;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.05px;
}
.content-footer .content-footer-pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 12px;
}
.content-footer .content-footer-pagination .content-footer__btn {
  display: inline-block;
  text-align: center;
  min-width: 22px;
  max-width: 24px;
  height: 12px;
  padding: 5px 0;
  text-decoration: none;
  color: #404B52;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%; /* 12px */
  letter-spacing: -0.12px;
  border-radius: 4px;
  border: 1px solid #EEE;
  background-color: #F5F5F5;
}
.content-footer .content-footer-pagination .content-footer__btn:hover {
  cursor: pointer;
}
.content-footer .content-footer-pagination .content-footer__btn_active {
  color: #FFF;
  border: 1px solid #5932EA;
  background-color: #5932EA;
}
.content-footer .content-footer-pagination .content-footer__breadcrumbs {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  letter-spacing: -0.12px;
  padding: 8px 0 4px 0;
}

.sidebar {
  width: 306px;
  height: 1198px;
  padding: 37px 0 0 0;
  background-color: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.logo .logo__version {
  padding: 18px 0 6px 4px;
  color: #838383;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
}
.logo .logo__img {
  height: 37px;
}

.logo-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 8px;
  padding: 0 0 0 28px;
}
.logo-wrapper .logo__text {
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
}

.menu-list-wrapper {
  padding: 52px 0 0 28px;
}

.menu-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

.menu-list__item {
  width: 231px;
  height: 24px;
  padding: 11px 8px 11px 11px;
  color: #9197B3;
  font-size: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.menu-list__item .menu-list__icon {
  height: 24px;
}
.menu-list__item .menu-list__text {
  color: #9197B3;
  height: 21px;
  line-height: 21px;
  margin: 0 0 0 14px;
}
.menu-list__item .menu-text-icon-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.menu-list__item:hover {
  cursor: pointer;
}

.menu-list__item_active {
  border-radius: 8px;
  background-color: #5932EA;
}
.menu-list__item_active .menu-list__icon-shevron {
  color: #fff;
}
.menu-list__item_active .menu-list__text {
  color: #fff;
}

.admin-logo-wrapper {
  padding: 0 0 0 28px;
  margin: auto 0 110px 0;
}

.admin-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 12px;
}
.admin-logo .admin-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.admin-logo .admin-info .admin-logo__name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
.admin-logo .admin-info .admin-logo__role {
  padding: 0 0 4px 0;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.sidebar-mobile {
  display: none;
}

@media (max-width: 1360px) {
  .container {
    width: 100%;
    gap: 40px;
  }
  .main-wrapper {
    padding: 0 40px 0 0;
    width: calc(100% - 346px);
  }
  .sidebar {
    height: 100%;
  }
  .menu-list__item {
    width: 85%;
  }
  .table-wrapper {
    overflow-x: scroll;
    overflow-y: visible;
  }
  .table-body {
    overflow-x: scroll;
  }
  .table-body .table-body-row::after {
    width: 90%;
  }
  .admin-logo-wrapper {
    margin: auto 0;
  }
}
@media (max-width: 996px) {
  .content-header {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    align-items: start;
    gap: 20px;
  }
  .content-header {
    padding: 30px 38px 0 38px;
  }
  .content-header .content-header-search {
    width: 100%;
  }
  .content-header .content-header-search .content-header-search__input {
    width: 90%;
  }
  .content-footer {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0 40px 0;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .sidebar {
    display: none;
  }
  .greeting {
    margin: 0 0 0 auto;
  }
  .sidebar-mobile {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 10px;
    margin: auto;
  }
  .main-wrapper {
    width: 95%;
    padding: 0;
  }
}

/*# sourceMappingURL=index.css.map */
